{% extends 'base.html.twig' %}

{% block title %} Add Category {% endblock %}
{% block body %}
    {% include 'inc/sidebar.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 shadow p-3">
                <h2 class="text-center bg-white py-2">Add Category</h2>
                {{ form_start(form,{
                    'attr': {
                        'id': 'categoryForm',
                        'novalidate': 'novalidate'
                    }
                }) }}

                {{ form_row(form.name) }}

                {{ form_row(form.save, {
                    'label' : 'Add Category',
                    'attr' : {
                        'class' : 'btn btn-primary'
                    }
                }) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
