{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for message in app.flashes('successCatMsg') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <h1>All Category List Here</h1>
                <a href="{{ path('category_add') }}" class="btn btn-info">Add Category</a>
            </div>
        </div>
    </div>
{% endblock %}
