{% extends 'base.html.twig' %}
{% block body %}
    {% include 'inc/sidebar.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 shadow p-3">
                <h2 class="text-center bg-primary text-white py-2">Add New Waiter</h2>
                {% for message in app.flashes('successWaiterAdd') %}

                    <div class="alert alert-success alert-dismissible" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.name) }}
                        {{ form_row(form.designation) }}
                        {{ form_row(form.mobile) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.save,
                            {
                                'label':'Add New Waiter',
                                'attr':{
                                'class':'btn btn-primary text-center'
                            }}
                        ) }}
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

