<!-- Footer -->
</div>
<!--   Core JS Files   -->
<script src="{{ asset('/js/jquery.3.2.1.min.js') }}"></script>
<script src="{{ asset('/js/popper.min.js') }}"></script>
<script src="{{ asset('/js/bootstrap.min.js') }}"></script>
<!-- jQuery UI -->
<script src="{{ asset('/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('/js/jquery.ui.touch-punch.min.js') }}"></script>

<!-- Bootstrap Toggle -->
<script src="{{ asset('/js/bootstrap-toggle.min.js') }}"></script>
<!-- jQuery Scrollbar -->
<script src="{{ asset('/js/jquery.scrollbar.min.js') }}"></script>
<!--<script src="assets/js/bootstrapwizard.js"></script>-->
<script src="{{ asset('/js/jquery.validate.min.js') }}"></script>
<!-- jQuery Musk -->
<script src="{{ asset('/plugins/jquery-musk/bootstrap-inputmask.min.js') }}"></script>
<!-- Azzara JS -->
<script src="{{ asset('/js/ready.js') }}"></script>
<script src="{{ asset('/js/nav.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#horizontalMenu").horizontalResponsiveMenu({
            resizeWidth: '768', // Set the same in Media query
            animationSpeed: 'fast', //slow, medium, fast
            accoridonExpAll: false //Expands all the accordion menu on click
        });
    });
</script>
<script>
    function validate() {
        var valid = true;
        $(".demoInputBox").css('background-color','');
        $(".info").html('');

        if(!$("#name").val()) {
            $("#name-info").html("(required)");
            $("#name").css('background-color','#FFFFDF');
            valid = false;
        }
        if(!$("#roll_number").val()) {
            $("#roll-number-info").html("(required)");
            $("#roll_number").css('background-color','#FFFFDF');
            valid = false;
        }
        if(!$("#dob").val()) {
            $("#dob-info").html("(required)");
            $("#dob").css('background-color','#FFFFDF');
            valid = false;
        }
        if(!$("#class").val()) {
            $("#class-info").html("(required)");
            $("#class").css('background-color','#FFFFDF');
            valid = false;
        }
        return valid;
    }

</script>


{# Jquery validation #}
{#<script src="{{ asset('js/messages_bn_BD.js') }}"></script>#}
<script>
    $("#userRegistrationForm").validate({
        rules:
            {
                "users_form[email]":
                    {
                        email: true
                    },
                "users_form[mobile]":
                    {
                        digits: true
                    }
            },
        messages:
            {
                "users_form[name]":
                    {
                        required: "You must fill this field"
                    }
            }
    });
    $("#categoryForm").validate();
    $("#productForm").validate();
</script>
</body>
</html>
