<!DOCTYPE html>
<!-- saved from url=(0049) -->
<html lang="en" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forms - CashBook Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <link rel="icon" href="http://localhost/api/assets/img/icon.ico" type="image/x-icon">
    <!-- Fonts and icons -->
    <script src="{{ asset('/js/webfont.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('/css/fonts.css') }}" media="all">
    <link rel="stylesheet" href="{{ asset('/icon/font-awesome.min.css') }}" media="all">
    <script>
        WebFont.load({
            google: {"families":["Open+Sans:300,400,600,700"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['assets/css/fonts.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap4.5.3.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/azzara.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/nav.css') }}">
</head>
<body>
<div class="wrapper">
    <!--
            Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
    -->
    <div class="main-header" data-background-color="">
                    <!-- Logo Header -->
                    <div class="logo-header">

                        <a href="/" class="logo">
                            <img src="{{ asset('/img/cashbook.png') }}" width="160" alt="navbar brand" class="navbar-brand">
                        </a>
                        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="fa fa-bars"></i>
					</span>
                        </button>
                        <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                        <div class="navbar-minimize">
                            <button class="btn btn-minimize btn-rounded"><i class="fa fa-bars"></i></button>
                        </div>
                    </div>
                    <!-- End Logo Header -->

                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-expand-lg">

                        <div class="container-fluid">

                            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                                <li class="nav-item toggle-nav-search hidden-caret">
                                    <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </li>
                                <li class="nav-item dropdown hidden-caret">
                                    <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                    <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
                                        <li>
                                            <div class="dropdown-title d-flex justify-content-between align-items-center">
                                                Messages
                                                <a href="#" class="small">Mark all as read</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="scroll-wrapper message-notif-scroll scrollbar-outer" style="position: relative;"><div class="message-notif-scroll scrollbar-outer scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 0px;">
                                                    <div class="notif-center">
                                                        <a href="#">
                                                            <div class="notif-img">
                                                                <img src="{{ asset('/img/jm_denis.jpg') }}" alt="Img Profile">
                                                            </div>
                                                            <div class="notif-content">
                                                                <span class="subject">Jimmy Denis</span>
                                                                <span class="block">
														How are you ?
													</span>
                                                                <span class="time">5 minutes ago</span>
                                                            </div>
                                                        </a>
                                                        <a href="#">
                                                            <div class="notif-img">
                                                                <img src="{{ asset('/img/chadengle.jpg') }}" alt="Img Profile">
                                                            </div>
                                                            <div class="notif-content">
                                                                <span class="subject">Chad</span>
                                                                <span class="block">
														Ok, Thanks !
													</span>
                                                                <span class="time">12 minutes ago</span>
                                                            </div>
                                                        </a>
                                                        <a href="#">
                                                            <div class="notif-img">
                                                                <img src="{{ asset('/img/mlane.jpg') }}" alt="Img Profile">
                                                            </div>
                                                            <div class="notif-content">
                                                                <span class="subject">Jhon Doe</span>
                                                                <span class="block">
														Ready for the meeting today...
													</span>
                                                                <span class="time">12 minutes ago</span>
                                                            </div>
                                                        </a>
                                                        <a href="#">
                                                            <div class="notif-img">
                                                                <img src="{{ asset('/img/talha.jpg') }}" alt="Img Profile">
                                                            </div>
                                                            <div class="notif-content">
                                                                <span class="subject">Talha</span>
                                                                <span class="block">
														Hi, Apa Kabar ?
													</span>
                                                                <span class="time">17 minutes ago</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar ui-draggable ui-draggable-handle"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar ui-draggable ui-draggable-handle"></div></div></div></div>
                                        </li>
                                        <li>
                                            <a class="see-all" href="javascript:void(0);">See all messages<i class="fa fa-angle-right"></i> </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown hidden-caret">
                                    <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bell"></i>
                                        <span class="notification">4</span>
                                    </a>
                                    <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                        <li>
                                            <div class="dropdown-title">You have 4 new notification</div>
                                        </li>
                                        <li>
                                            <div class="notif-center">
                                                <a href="#">
                                                    <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
                                                    <div class="notif-content">
												<span class="block">
													New user registered
												</span>
                                                        <span class="time">5 minutes ago</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>
                                                    <div class="notif-content">
												<span class="block">
													Rahmad commented on Admin
												</span>
                                                        <span class="time">12 minutes ago</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-img">
                                                        <img src="{{ asset('/img/profile2.jpg') }}" alt="Img Profile">
                                                    </div>
                                                    <div class="notif-content">
												<span class="block">
													Reza send messages to you
												</span>
                                                        <span class="time">12 minutes ago</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="notif-icon notif-danger"> <i class="fa fa-heart"></i> </div>
                                                    <div class="notif-content">
												<span class="block">
													Farrah liked Admin
												</span>
                                                        <span class="time">17 minutes ago</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                        <div class="avatar-sm">
                                            <img src="{{ asset('/img/profile.jpg') }}" alt="..." class="avatar-img rounded-circle">
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <li>
                                            <div class="user-box">
                                                <div class="avatar-lg"><img src="{{ asset('/img/profile.jpg') }}" alt="image profile" class="avatar-img rounded"></div>
                                                <div class="u-text">
                                                    <h4>Hizrian</h4>
                                                    <p class="text-muted">hello@example.com</p><a href="http://localhost/api/profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">My Profile</a>
                                            <a class="dropdown-item" href="#">My Balance</a>
                                            <a class="dropdown-item" href="#">Inbox</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Account Setting</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Logout</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </nav>
                    <!-- Responsive Menu Structure-->
                    <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->

                    {% include 'inc/top-nav.html.twig' %}
                    <!-- End Navbar -->
                </div>


    <!-- End Header -->