<nav>
    <div class="menu-toggle" style="display: none;">
        <h3>Menu</h3>
        <button type="button" id="menu-btn">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Menu Toggle btn-->

    <!-- Responsive Menu Structure-->
    <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
    <ul id="horizontalMenu" class="horizontal-responsive-menu" data-menu-style="horizontal">
        <li class="">
            <a href="javascript:;">
                <span class="title"><i class="pe-7s-home"></i> Home</span>
            </a>
        </li>
        <li class="">
            <a href="javascript:;">
                <span class="title">About Us</span></a>
            <!-- Level Two-->
            <ul class="sub-menu" style="display: none;">
                <li class="">
                    <a href="#">Sub Item One</a>
                </li>
                <li class="">
                    <a href="#">Sub Item Two</a>
                </li>
                <li class="">
                    <a href="#">Sub Item Three</a>
                </li>
                <li>
                    <a href="#">Sub Item Four</a>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="javascript:;">
                <span class="title">4 Level Menu</span>
            </a>
            <!-- Level Two-->
            <ul class="sub-menu">
                <li>
                    <a href="javascript:;">
                        Sub Item One
                    </a>
                </li>
                <li>
                    <a href="#">
                        Sub Item Two
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        Sub Item Three
                    </a>
                    <!-- Level Three-->
                    <ul class="sub-menu">
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Sub Item Link 1</a></li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-diamond" aria-hidden="true"></i>Sub Item Link 2</a>
                            <!-- Level Four-->
                            <ul class="sub-menu">
                                <li><a href="#"><i class="fa fa-trash" aria-hidden="true"></i>Sub Item Link 1</a></li>
                                <li><a href="#"><i class="fa fa-dashcube" aria-hidden="true"></i>Sub Item Link 2</a></li>
                                <li><a href="#"><i class="fa fa-dropbox" aria-hidden="true"></i>Sub Item Link 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Sub Item Link 3</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        Sub Item Four
                    </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a class="" href="javascript:;">
                <span class="title">Services</span>

            </a>
            <ul class="sub-menu" style="">
                <li>
                    <a href="#">Sub Item One
                    </a>
                </li>
                <li>
                    <a href="javascript:;">Sub Item Two
                    </a>
                    <ul class="sub-menu">
                        <li><a href="#">Sub Item Link 1</a></li>
                        <li><a href="#">Sub Item Link 2</a></li>
                        <li><a href="#">Sub Item Link 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">Sub Item Three
                    </a>
                    <ul class="sub-menu">
                        <li><a href="#">Sub Item Link 1</a></li>
                        <li><a href="#">Sub Item Link 1</a></li>
                        <li><a href="#">Sub Item Link 1</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Sub Item Four
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <span class="title">Products</span>
            </a>
        </li>
        <li class="last">
            <a href="javascript:;">
                <span class="title">Contact Us</span>
            </a>
        </li>
    </ul>
</nav>