{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <h1>Login Form Here</h1>
            </div>
        </div>
    </div>
{% endblock %}