{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 shadow p-3">
                <h2 class="text-center bg-white py-2">Register First!</h2>
                {% for message in app.flashes('success') %}

                    <div class="alert alert-success alert-dismissible" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                {{ form_start(form,
                    {'attr':
                        {
                            'id': 'userRegistrationForm',
                            'novalidate': 'novalidate'
                        }
                    }
                ) }}

                <div class="row">
                    <div class="col-md-6">

                        {{ form_row(form.name) }}

{#                        {{ form_row(form.profile.address) }}#}

                        {{ form_row(form.email) }}

                        {{ form_row(form.username) }}

                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.designation) }}

                        {{ form_row(form.mobile) }}

{#                        {{ form_row(form.password) }}#}
                        <div class="form-group position-relative">
                            {{ form_label(form.password) }}
                            {{ form_widget(form.password,{'attr':
                                {'style':'width: 83%'}
                            }) }}
                            <button type="button" style="right: 11px;top: 37px;" class="btn btn-sm btn-secondary position-absolute" onClick="randomPassword(10);"><i class="fas fa-redo-alt"></i></button>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.profile) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.profile_picture) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.submit,
                        {
                            'label':'Register',
                            'attr':{
                            'class':'btn btn-primary float-right'
                        }}
                        ) }}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <a href="{{ path('login') }}" class="btn btn-info">Login</a>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function randomPassword(length) {
            var chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
            var pass = "";
            for (var x = 0; x < length; x++) {
                var i = Math.floor(Math.random() * chars.length);
                pass += chars.charAt(i);
            }
            users_form_password.value = pass;
        }
    </script>
{% endblock %}